{% extends 'adminPanel/adminBase.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}
{% block menuTitle %}{{ page_name }}{% endblock %}

{% block body %}
    <div id="header-under">
        <form action="/admin/appliances/search" method="get">
            <input autocomplete="off" class="input ui-autocomplete-input" id="search-appliances" maxlength="60" name="q" placeholder="Search appliances..." required="" type="text">
            <button class="button info float-left" type="submit"><i class="fa fa-search"></i></button>
        </form>
        <a class="button success" href="/admin/appliances/manage">Add a Appliance</a>
        <div class="clear"></div>
    </div>

    <div class="buttons">
        <a class="button warning" href="{{ url('admin') }}/">Go to the Home Page</a>
    </div>
{% endblock %}
