{% extends 'adminPanel/adminBase.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}
{% block menuTitle %}{{ page_name }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h2>Welcome to the DHS Admin Panel</h2>
    <p>Use the links on the left to navigate to different pages/functions.</p>
</div>
{% endblock %}
